.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fett {
    font-weight: bold;
}

.gross {
    text-transform: uppercase;
}

.rot {
    color: red;
}

.background-green {
    background-color: lightgreen;
}

.linienhoehe {
    color: white;
    background-color: darkgreen;
    line-height: 30px;
}

.kursiv {
    font-style: italic;
}

.small-caps {
    font-variant: small-caps;
}