.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.header {
    margin-top: -4.4%;
    margin-left: 15.5%;
    width: 84.5%;
    background-color: #666;
    background-size: cover;
}

.header h1 {
    text-align: center;
    font-size: 40px;
    padding: 1.645% 0 1.645% 0;
}

.header img {
    position: absolute;
    top: 10px;
    right: 8px;
    height: 10%;
    width: auto;
}

.main {
    margin-left: 15.5%;
    height: 100vh;
}